NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8004/api/v1
MARKET_STACK_PUBLIC_APP_URL=http://localhost:3001
MARKET_STACK_PUBLIC_API_BASE_URL=http://127.0.0.1:8004/api/v1
MARKET_STACK_API_INTERNAL_URL=http://127.0.0.1:8004/api/v1
MANASIJA_API_BASE_URL=https://developers.manasija.in

# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3001,http://127.0.0.1:3001
